.page-preview__wrapper {
  padding: 10px 30px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.page-preview {
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-preview__add {
  @include center-text(26px, 10px);

  display: block;
  border-radius: 100%;
  border: solid 1px $color-neutral-400;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  color: $color-neutral-900;
  background-color: $white;

  &:hover {
    background-color: $color-neutral-50;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.32);
  }
}

.page-preview__scaled {
  width: 100%;
  min-height: 100%;
  background-color: $white;
  overflow: auto;
  padding-top: 14px;
  position: relative;

  &::after {
    content: '';
    display: block;
    background-color: $color-neutral-100;
    position: absolute;
    top: 0;
    width: 100%;
    height: 14px;
  }

  // We need to do this because the border of the preview is round and we need to round
  // the border of the selection box so that border has to have the same shape.
  > div:first-child {
    & .element__menu-item-description {
      @include absolute(30px, -2px, auto, auto);
    }
  }

  > div:last-child::before {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.page-preview__empty {
  max-width: 400px;
  margin: 120px auto 120px auto;
}
